 html {
    line-height: 0.5; 
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
    color :white;
    transform : rotate(0.04deg); /* 윈도우os 폰트 안티얼라이싱*/
  }

  a{
    text-decoration: none;
    color :black;
  }

  header{
    position: relative;
    width: 100%;
    height : 60px;
    background-color:black;
    text-align: center;
    padding:1px;
    margin-bottom: 20px;

}

.header__brandbox{
  position: absolute;
  left: -300px;
}

main{
  display: flex;
}

 .box__design{
  display: flex;
  border-radius: 10px;
  background-color:black;
  margin: 0 15px 0 15px;
  text-align: center;
  flex-direction: column;
}

.brand__content{
  height: 140px;
}

.brand__logo--group{
  display:flex;
  justify-content: space-around;
  padding: 5px 10px 0 10px;
  margin-top: 5px;
  gap:10px; 
}

.brand__logo{
  width:60px;
  height:60px;
  border-radius:50%;
}

.burger{
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 140px 140px 140px 140px 140px 140px 140px 140px;
  grid-gap: 20px;

}

.burger__card{
  display:flex;
  color:black;
  padding-top: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

.burger__image{
  width: 90px;
  height: 90px;
  margin: 13px 5px 0 20px;
  border-radius: 10px;
}

.burger__content{
  margin: 5px 10px 0 0;
  flex-grow: 1;
  text-align: center;
}

.burger__mention{
  font-size:85%;
}

.burger__price{
  font-size:19px;
  font-weight: bold;
}

.cart{
  width: 300px;
  height:fit-content;
  position: sticky;
  top: 20px;
}

.cart hr{
  width: 85%;
}

.cart__btn--group{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.cart__btn--group > button {
  border: none;
  border-radius: 10px;
  width:85%;
  height: 50px;
  margin: 5px 0 6px 0;
  font-size:20px;
}

.cart__seleced-item{
  display:flex;
  align-items: center;
  align-content: stretch;
}

.btn__floating {
  display: none;
	position:sticky;
	width:60px;
	height:60px;
  bottom: 20px;
	left:82%;
	background-color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.fa-cart-shopping{
  position: relative;
  padding-top: 15px;
}

.btn__floating--sum{
  position:absolute;
  width:15px;
	height:15px;
	top:-10px;
	right:-10px;
  background-color: red;
  border-radius:50px;
  padding-top: 2px;
  font-size: small;
}

.modal__background{
  position: fixed;
  top:0;
  left: 0; 
  bottom: 0; 
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal__box{
  position: absolute;
  top: calc(50vh - 100px); 
  left: calc(50vw - 200px);
  color:black;
  text-align: center;
  width: 400px;
  height: 300px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
}

.modal__content{
  width: 85%;
  height: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.hide {
  display: none;
}

@media screen and (max-width:1200px){
    .brand__content{
      display:none;
    }
    .burger{
      margin-left: 15px;
    }

    .cart{
      flex-grow: 1;
    }
    .header__brandbox{
      transform: translateX(320px);
      transition: all 1s;
    }
    .brand__logo{
      width:40px;
      height: 40px;
      margin: 10px 0 0 5px;
    }
}  

.brand__logo:hover, .cart__btn:hover, .btn__floating:hover{
  transform: scale(1.05);
  transition: all 1s;
  cursor: pointer;
}

.burger__card:hover{
  background-color: black;
  color: white;
  transform: scale(1.05);
  transition: all 1s;
  cursor: pointer;
}

@media screen and (max-width:992px){
  .burger{
    grid-template-columns: 1fr;
    grid-template-rows: 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px;
    grid-gap: 20px;
  }
}  

@media screen and (max-width:600px){
  main {
    display: block;
  }
  
  .cart{
    display:none;
  }

  .burger{
    margin-right: 15px;
  }

  .btn__floating{
    display: block;
  }
  .header__brandbox{
    display: none;
  }
}